$background-color: #fbf3e5;
$primary-color: #fcf3ec;
$yellow-color: #fcd961;
$text-color-green: #1D8344;

h1{
    text-align: center;
    color: $text-color-green;
}
.card-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    gap: 30px;
    padding: 16px;
    margin: 60px auto 40px auto;
    max-width: 1200px;
    background-color: $background-color;
}

@media (max-width: 1200px) {
    .card-grid {
        grid-template-columns: repeat(3, minmax(200px, 1fr));
    }
}

@media (max-width: 768px) {
    .card-grid {
        grid-template-columns: repeat(2, minmax(200px, 1fr));
    }
}

@media (max-width: 480px) {
    .card-grid {
        grid-template-columns: 1fr;
    }
}