:root {
  --primary-color: #fcf3ec;
  --yellow-color: #fcd961;
  --text-color-green: #1D8344;
  --background-color: #fbf3e5;
}

#body {
  background-color: var(--background-color);
  margin-bottom: 50px;

  header#head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

    #hamburger {
      display: none; /* Hide by default */
      cursor: pointer;
      color: var(--text-color-green);
    }

    #logo {
      display: flex;
      justify-content: center;

      img {
        width: 200px;
        height: auto;
      }
    }

    #menu-wrapper {
      display: flex;
      justify-content: center;

      nav.navbar {
        display: flex;
      }
    }

    .right-section {
      display: flex;
      align-items: center;

      #log-out {
        background-color: var(--yellow-color);
        color: var(--text-color-green);
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 5px;
        font-size: 16px;
        margin-right: 10px;

        &:hover {
          background-color: var(--text-color-green);
          color: var(--yellow-color);
        }
      }

      img {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        margin-right: 10px;

        &:hover {
          cursor: pointer;
        }
      }

      #ellipsis {
        display: none;
        cursor: pointer;
        color: var(--text-color-green);
      }
    }
  }

  @media (max-width: 768px) {
    header#head {
      #hamburger {
        display: block; /* Show hamburger menu */
      }

      #menu-wrapper {
        display: none; /* Hide the menu items */
      }

      #logo {
        justify-content: center; /* Center the logo */
      }

      .right-section {
        #log-out {
          display: none; /* Hide logout button */
        }

        #ellipsis {
          display: block; /* Show ellipsis */
        }
      }
    }
  }

  @media (min-width: 769px) {
    header#head {
      #menu-wrapper {
        display: flex; /* Show the menu items */
      }

      #hamburger {
        display: none; /* Hide the hamburger menu */
      }

      #logo {
        justify-content: flex-start; /* Align the logo to the left */
      }

      #menu-wrapper {
        position: absolute;
        left: 50%;
        transform: translateX(-50%); /* Center the menu */
      }

      .right-section {
        justify-content: flex-end;
      }

      #ellipsis {
        display: none; /* Hide ellipsis on larger screens */
      }
    }
  }
}

.dialog {
  position: absolute;
  top: 50px;
  right: 10px;
  background-color: var(--primary-color);
  border: 1px solid var(--text-color-green);
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

  #dialog-close {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: var(--text-color-green);
    float: right;
  }

  #log-out-dialog {
    background-color: var(--yellow-color);
    color: var(--text-color-green);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 10px;
    width: 100%;

    &:hover {
      background-color: var(--text-color-green);
      color: var(--yellow-color);
    }
  }
}

.hamburger-dialog {
  width: 250px; /* Width of the dialog box */
  height: 100vh; /* Full viewport height */
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--primary-color);
  border: 1px solid var(--text-color-green);
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto; /* Allow vertical scrolling if needed */

  #hamlogo{
    display: flex;
      justify-content: center;

      img {
        width: 100px;
        height: auto;
      }
  }

  .navbar {
    display: flex;
    flex-direction: column; /* Stack links vertically */
    list-style: none;
    padding: 0;

    .navbar-link {
      margin-bottom: 10px; /* Space between links */
      text-decoration: none;
      font-weight: bold;
      transition: color 0.3s ease;
      background: var(--background-color);
      color: var(--text-color-green);
      padding: 10px;
      border-radius: 2px;
      display: block; /* Ensure links take full width */

      &:hover {
        color: var(--yellow-color);
        padding: 10px;
        border-radius: 2px;
      }
    }
  }
}

.profile-dialog {
  width: 100px;
}
