$background-color: #fbf3e5;
$primary-color: #fcf3ec;
$yellow-color: #fcd961;
$text-color-green: #1D8344;

.navbar {
  background-color: $background-color;
  padding-bottom: 10px;
  color: $text-color-green;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  position: relative;

  .navbar-links {
    list-style: none;
    display: flex;

    // Ensure links are displayed vertically within the dialog
    @media (max-width: 768px) {
      display: block;
      padding: 10px;
    }
  }

  .navbar-link {
    margin-right: 20px;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
    margin-top: 5px;
    background: $background-color;
    color: $text-color-green;
    padding: 5px;
    border-radius: 2px;

    &:hover {
      color: $yellow-color;
      padding: 5px;
      border-radius: 2px;
    }
    &.active {
      color: $yellow-color;
      // background: lighten($yellow-color, 40%);
      padding: 5px;
      border-radius: 2px;
    }
    
    // Ensure links are displayed vertically within the dialog
    @media (max-width: 768px) {
      display: block;
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
}

// Styling for the hamburger dialog
.hamburger-dialog {
  position: absolute;
  top: 0;
  left: 0;
  background-color: $primary-color;
  border: 1px solid $text-color-green;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 200px;

  // Ensuring the dialog itself is vertical
  .navbar-links {
    display: block;
  }
}
