$background-color: #fbf3e5;
$primary-color: #fcf3ec;
$yellow-color: #fcd961;
$text-color-green: #1D8344;
$padding: 20px;
$mobile-breakpoint: 768px;

.book-recommender{
    padding: $padding;
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 10px;
}
.search-bar{
    width: 1200px;
    height: auto;
}
.heading{
    text-align: center;
}